.epInput-wrap {
	position: relative;
	/*display: inline-block;*/
	/*border: 1px solid #16B8BD;*/
	height: 50px;
	margin-bottom: 14px;
}

.epInput-label {
	position: absolute;
	top: 20px;
	cursor: auto;
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transform: scale(1) translate(0px, 0px);
	transform-origin: left top 0px;
	color: rgba(0, 0, 0, 0.3);
}

.epInput-label-active {
	transform: scale(0.75) translate(0px, -30px);
}

.epInput-text {
	border: none;
	padding: 0;
	width: 100%;
	height: 100%;
	color: inherit;
	background-color: inherit;
}

.epInput-hr-default {
	border-width: medium medium 1px;
	border-style: none none solid;
	border-color: rgb(224, 224, 224);
	bottom: 5px;
	box-sizing: content-box;
	margin: 0px;
	position: absolute;
	width: 100%;
}

.epInput-hr {
	border-width: medium medium 2px;
	border-style: none none solid;
	border-color: rgb(0, 188, 212);
	bottom: 5px;
	box-sizing: content-box;
	margin: 0px;
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.epInput-hr-active {
	transform: scaleX(1);
}

.epInput-message {
	position: absolute;
	bottom: -12px;
	font-size: 12px;
	line-height: 12px;
	color: red;
}