
html,body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: #FFFFFF;
}
img {
  vertical-align: middle;
}
button {
	cursor: pointer;
}
a {
	text-decoration: none;
}
.el-submenu .el-menu-item {
	min-width: auto !important;
}
